<div class="container">
  <div class= "form-group">
    <form action='/admin/menus' method='GET' class="form-signin" role="form">
      <h1 class="form-signin-heading">Admin Login</h1>
      <h5> Please enter your username and password below:</h5>
      <input type='text' name='' class= "form-control" placeholder='username'/>
      <input type='text' name='' class= "form-control" placeholder='password'/>
      <input class= "btn btn-lg btn-primary btn-block" type='submit'/>
    </form>
  </div>
</div>
