<div id="main" class="col-left">
  <div class="post">
    <h1 class="title">
      <a href="http://hapasushi.com/about-hapa/" rel="bookmark" title="About Hapa">About Hapa</a>
    </h1>
    <div class="entry">
      <h4>The name Hapa is derived from the Hawaiian term that describes a harmonious blend of Asian and American cultures.</h4>
      <p>
        <a href="http://hapasushi.com/wp-content/uploads/2011/04/salad-sushi1.jpg" rel="wp-prettyPhoto[g1545]" rel="lightbox[1545]"><img src="http://hapasushi.com/wp-content/uploads/2011/04/salad-sushi1.jpg" alt="" title="salad-sushi" width="600" height="322" class="alignnone size-full wp-image-1548"></a>
      </p>
      <p>
        Like our name, our food reflects this dynamic combination. The menu is based on traditional Japanese cooking fundamentals which are then amplified, muted, or mixed with influences from many different styles of cooking until they are something completely new: they&#8217;re Hapa. We have stretched the boundaries of creativity to develop dishes that defy all rules while holding true to our roots. We hope that you will find our <a href="/dinner">menu</a> innovative, uninhibited, and distinctly fun.
      </p>
    </div><!-- /.entry -->
  </div><!-- /.post -->
</div><!-- /#main -->
<div id="sidebar" class="col-right">
  <div class="primary">
    <div id="share-widget-3" class="widget share_links">
      <h3>Share This</h3>
      <ul class="socialwrap size32 row">
        <li class="iconOnly">
          <a  rel='nofollow'  target='_blank'  title='Bookmark this post : About Hapa on Delicious'  href='http://delicious.com/post?url=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;title=About+Hapa' style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/delicious.png) no-repeat top left;height:32px;width:32px;" class="delicious" ><span class="head">Bookmark on Delicious</span></a>
        </li>
        <li class="iconOnly">
          <a  rel='nofollow'  target='_blank'  title='Digg this post : About Hapa'  href='http://digg.com/submit?url=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;title=About+Hapa&amp;bodytext=The+name+Hapa+is+derived+from+the+Hawaiian+term+that+describes+a+harmonious+blend+of+Asian+and+American+cultures.+%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ALike+our+name%2C+our+food+reflects+this+dynamic+combination.+The+menu+is+based+on+traditional+Japanese+cooking+fundamentals+which+are+then+amplified%2C+muted%2C+or+mixed+with+influences+from+many+differ' style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/digg.png) no-repeat top left;height:32px;width:32px;" class="digg" ><span class="head">Digg this post</span></a>
        </li>
        <li class="iconOnly">
          <a  rel='nofollow'  target='_blank'  title='Recommend this post : About Hapa on Facebook'  href='http://www.facebook.com/sharer.php?u=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;t=About+Hapa' style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/facebook.png) no-repeat top left;height:32px;width:32px;" class="facebook" ><span class="head">Recommend on Facebook</span></a>
        </li>
        <li class="iconOnly">
          <a  rel='nofollow'  target='_blank'  title='Share this post : About Hapa on Reddit'  href='http://www.reddit.com/submit?url=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;title=About+Hapa' style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/reddit.png) no-repeat top left;height:32px;width:32px;" class="reddit" ><span class="head">share via Reddit</span></a>
        </li>
        <li class="iconOnly">
          <a  rel='nofollow'  target='_blank'  title='Share this post : About Hapa with Stumblers'  href='http://www.stumbleupon.com/submit?url=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;title=About+Hapa' style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/stumble.png) no-repeat top left;height:32px;width:32px;" class="stumble" ><span class="head">Share with Stumblers</span></a>
        </li>
        <li class="iconOnly">
          <a rel="nofollow" target="_blank" style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/twitter.png) no-repeat top left;height:32px;width:32px;" class="twitter" href="http://twitter.com/share?url=http%3A%2F%2Fhapasushi.com%2Fabout-hapa%2F&amp;text=Hapa+Sushi+has+got+it+goin+on%21+-+" title="Tweet this post : About Hapa on Twitter"><span class="head">Tweet about it</span></a>
        </li>
        <li class="iconOnly">
          <a rel="_self" style="display:block;background: transparent url(http://hapasushi.com/wp-content/plugins/share-and-follow/default/32/email.png) no-repeat top left;height:32px;width:32px;" class="email" href="mailto:?subject=Hapa%20Sushi%20:%20About%20Hapa&amp;body=Hapa%20has%20the%20most%20delicious%20looking%20food%20I've%20ever%20seen.%20Look.%20%20http://hapasushi.com/about-hapa/" title="Tell a friend about this post : About Hapa "><span class="head">Tell a friend</span></a>
        </li>
      </ul>
      <div class="clean"></div>
    </div>		           
  </div>        
</div><!-- /#sidebar --> 
