

    <h1>Admin Login</h1>
    <form action='/' method='POST'>
      <input type='text' name='[section_title]' placeholder='username'/><br/>
      <textarea name='menu_page[menu_item]' placeholder='password'></textarea><br/>
      <input type='submit'/>
    </form>
