<div id="sliderWrap">
  <div class="innerwrap">
    <div id="loopedSlider">
      <div class="container">
        <div class="slides">
          <div id="slide-1" class="slide">
            <div class="image">
              <img src="http://hapasushi.com/wp-content/themes/hapa/functions/thumb.php?src=http://hapasushi.com/wp-content/uploads/2011/03/sushi01.jpg&#038;w=980&#038;h=420&#038;zc=1&#038;q=90" alt="" class="woo-image feat-image"  width="980" height="420">
            </div>
            <div class="slide-content">
              <h2 class="slide-title">
                <a href="#">Sushi Eaters Have More Fun</a>
                <span class="controlsbg">&nbsp;</span>
              </h2>
              <div class="links-home">
                <p>
                  <a href="/menu/happy-hour">Happy Hour »</a>
                  <a href="/menu/gluten-free">Gluten Free »</a>
                  <a href="/menu/dinner">Menu »</a>
                </p>
              </div>
            </div><!-- /.slide-content -->
            <div class="fix"></div>
          </div>
          <div id="slide-2" class="slide">
            <div class="image">
              <img src="http://hapasushi.com/wp-content/themes/hapa/functions/thumb.php?src=http://hapasushi.com/wp-content/uploads/2011/04/udon-bowl.jpg&#038;w=980&#038;h=420&#038;zc=1&#038;q=90" alt="" class="woo-image feat-image"  width="980"  height="420">
            </div>
            <div class="slide-content">
              <h2 class="slide-title">
                <a href="/menu/lunch">Lunch Specials Daily</a>
                <span class="controlsbg">&nbsp;</span>
              </h2>

              <div class="links-home">
                <p><a href="/menu/lunch">Specials &#038; bowls, for every mood</a></p>
              </div>
            </div><!-- /.slide-content -->
            <div class="fix"></div>
          </div>
          <div id="slide-3" class="slide">
            <div class="image">
              <img src="http://hapasushi.com/wp-content/themes/hapa/functions/thumb.php?src=http://hapasushi.com/wp-content/uploads/2011/04/sake-drinks.jpg&#038;w=980&#038;h=420&#038;zc=1&#038;q=90" alt="" class="woo-image feat-image"  width="980"  height="420">
            </div>
            <div class="slide-content">
              <h2 class="slide-title">
                Go Wild<span class="controlsbg">&nbsp;</span>
              </h2>
              <div class="links-home">
                <p>
                  <a href="/menu/drinks">One of the largest sake selections this side of the Mississippi, and delicious original cocktails</a>
                </p>
              </div>
            </div><!-- /.slide-content -->
            <div class="fix"></div>
          </div>
        </div><!-- /.slides -->
        <ul class="nav-buttons ">
          <li id="p"><a href="#" class="previous">&lt;</a></li>
          <li id="n"><a href="#" class="next">&gt;</a></li>
        </ul>
      </div><!-- /.container -->
      <div class="fix"></div>
    </div><!-- /#loopedSlider -->
  </div>
</div><!-- /#sliderWrap -->
<div id="more-info">
  <h3>
    <a title="locations-icon" href="http://hapasushi.com/homemod/locations-near-you/"><img src="http://hapasushi.com/wp-content/themes/hapa/functions/thumb.php?src=http://hapasushi.com/wp-content/uploads/2011/03/locations-icon.png&#038;w=40&#038;h=80&#038;zc=1&#038;q=90" alt="" class="woo-image home-icon" width="40" height="80"></a><span>Locations Near You</span>
  </h3>
  <div class="home-text fl">
    <div class="entry">
      <h4>All over Colorado</h4>
      <p>With four convenient locations in the Denver-Boulder area, you can always satisfy your Hapa urges. See which location is closest to you, get directions, or scope out the ambiance.</p>
      <div class="fancy-link"><a href="/location">See details on our locations</a></div>
    </div>
  </div>
</div><!-- /#more-info -->
