<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <title>Hapa Sushi | Sushi Grill | Sake Bar | Colorado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://hapasushi.com/feed/">

    <!--
    <link rel='stylesheet' id='prettyphoto-css'  href='css/pretty_photo.css' type='text/css' media='screen'>
    <link rel='stylesheet' id='cart66-css-css'  href='css/cart66.css' type='text/css' media='all'>
    <link rel='stylesheet' id='cart66-custom-css-css'  href='css/custom-cart.css' type='text/css' media='all'>
    <link rel='stylesheet' id='jquery.lightbox.min.css-css'  href='css/lightbox.min.css' type='text/css' media='all' />
    -->
    
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type='text/javascript' src='js/cufon-yui.js'></script>
    <script type='text/javascript' src='js/loopedSlider.js'></script>
    <script type="text/javascript" src="js/brandon_330.font.js" ></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/general.js'></script>
    
    <!--
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type="text/javascript" src="js/animatedcollapse.js"> </script>
    <script type="text/javascript">
      animatedcollapse.init();
    </script>
    <script src="http://static.dudamobile.com/DM_redirect.js" type="text/javascript"></script>
    <script type="text/javascript">DM_redirect("http://mobile.dudamobile.com/site/hapasushicom");</script>
    -->

    <!--[if IE 6]>
    <script type="text/javascript" src=js/pngfix.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css" />
    <![endif]-->	

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
    <![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie8.css" />
    <![endif]-->
    
    <link rel='stylesheet' id='mailchimpSF_main_css-css'  href='http://hapasushi.com/?mcsf_action=main_css&#038;ver=3.7.3' type='text/css' media='all'>
    <!--[if IE]>
    <link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='http://hapasushi.com/wp-content/plugins/mailchimp/css/ie.css?ver=3.7.3' type='text/css' media='all'>
    <![endif]-->

    <link href="css/custom.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="home blog chrome">
    <div id="wrapper">
      <div id="header" class="col-full">
        <div class="inside-header">
          <div id="logo">
            <a href="/" title="Sushi Grill | Sake Bar | Colorado">
              <img src="images/logo.png" alt="Hapa Sushi" />
            </a>
            <h1 class="site-title"><a href="/">Hapa Sushi</a></h1>
            <span class="site-description">Sushi Grill | Sake Bar | Colorado</span>
          </div><!-- /#logo -->
        </div><!-- /.inside -->
      </div><!-- /#header -->
      <div id="navigation" class="col-full">
        <ul id="main-nav" class="nav fl">
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="/">Home</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Menus</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/happy">Happy Hour</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/lunch">Lunch</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/dinner">Dinner</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/gluten">Gluten Free</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/kids">Kids</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/drinks">Drinks</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/platters">Platters</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/to-go">To Go</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/location">Locations</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/location/boulder-pearl-street">Boulder &#8211; Pearl St</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/location/cherry-creek">Cherry Creek</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/location/landmark-at-greenwood-village">Landmark</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/location/lodo/">LoDo</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop">Shop</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/make-a-reservation">Reservations</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-hapa">About Hapa</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/catering">Catering</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
        </ul>        
      </div><!-- /#navigation -->
      <div id="content" class="col-full">
        <%= yield %>
        <div class="fix"></div>
      </div><!-- /#content -->
      <div id="footer-custom" class="col-full">
        <div class="block">
          <div class="title">
            <img src="http://hapasushi.com/wp-content/uploads/2011/04/open_table.png" class="fl">
            <h4>Skip the wait</h4>
          </div>
          <h5>Online Reservations are the new black</h5>
          <p>Getting a reservation is as easy as pushing a button. Literally.</p>
          <div class="fancy-link"><a href="/make-a-reservation">Get a reservation now</a></div>
        </div>
        <div class="block2">
          <div class="title"><h4>Socialize</h4></div>
          <a href="http://www.facebook.com/pages/Hapa-Sushi-Grill-Sake-Bar/73604594737" target="_blank">
            <img src="http://hapasushi.com/wp-content/uploads/2011/04/facebook.png" border="0"  class="fl"/>
          </a>
          <a href="http://twitter.com/#!/HapaSushi" target="_blank">
            <img src="http://hapasushi.com/wp-content/uploads/2011/04/twitter.png" border="0"  class="fl"/>
          </a>
        </div>
      </div>
      <div id="footer">
        <div id="copyright" class="col-left">
          <p>&copy; 2014 Hapa Sushi. All Rights Reserved.</p>
        </div>
        <div id="credit" class="col-right">
          <p>
            Designed by <a href="http://handhugs.com/" title="Portland wordpress and blog designer"><img src="http://handhugs.com/images/handhugs-white.png" alt="hand hugs design portland oregon" border="0" /></a>
          </p>
        </div>
        <div class="fix"></div>
      </div><!-- /#footer  -->
    </div><!-- /#wrapper -->

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAqMM_GbygZrkAoDyxvuFT_RRycLqqNqzGuIMBPZEc7mlu08ofXBQMZWdaL9IBK_HfOP9eDBbaXoiBGg" type="text/javascript"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9553965-45']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--
<script type='text/javascript' src='js/cart66-library.js'></script>
<script type='text/javascript' src='js/jquery.touchwipe.min.js'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
var JQLBSettings = {"showInfo":"1","fitToScreen":"1","resizeSpeed":"250","displayDownloadLink":"0","navbarOnTop":"0","resizeCenter":"","marginSize":"","linkTarget":"_self","slideshowSpeed":"4000","help":"","prevLinkTitle":"previous image","nextLinkTitle":"next image","closeTitle":"close image gallery","image":"Image ","of":" of ","download":"Download","pause":"(pause slideshow)","play":"(play slideshow)"};
    /* ]]> */
  </script>
  <script type='text/javascript' src='js/jquery.lightbox.min.js'></script>
  -->
</body>
</html>
