<form class="form-signin" role= "form" action="/admin/locations/<%= location.id %>" method="POST">
  <a href="/admin/locations/<%= location.id %>" class= "btn btn-primary">Edit <span class="glyphicon glyphicon-pencil"></span></a>
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-primary" type="submit" value="Delete">
</form>
