<form class="form-signin" role= "form" action="/admin/menus/<%= menu.id %>" method="POST">
  <a href="/admin/menus/<%= menu.id %>" class= "btn btn-primary">Edit</a>
  <input type="hidden" name="_method" value="DELETE">
  <input class= "btn btn-primary" type="submit" value="Delete"/>
</form>
