<div class="container-fluid">
  <ul class="nav nav-pills pull-left">
    <li><a href="/admin/menus">Menus</a></li>
    <li><a href="/admin/locations">Locations</a></li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Main Site</a>
  </ul>
</div>
