<div class="container-fluid">
  <div class="navbar-header">
  </div>
  <ul class="nav nav-pills">
    <li><a href="/admin/menus">Admin Editor</a></li>
    <li><a href="/">Main Site<span class="badge"></span></a>
  </ul>
</div>
