<form  class='form-signin' action="/admin/locations/<%= @location.id %>/photos/<%= photo.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-primary" type="submit" value="Delete">
</form>
